h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "Roboto Slab", serif;
  color: inherit;
}

h1 {
    color: #2b90d9;
    font-weight: bold;
    font-size: 40px;

}
  
h2 {
    color: #f5f5f5;
}
  
h3 {
    color: #555;
    display: inline-block;
    font-size: x-large;
    padding: 10px 0;
    text-align: center;
    border-bottom: solid 1px #ccc;
    border-top: solid 1px #ccc;
    text-transform: uppercase;
}

h4 {
    color: #f5f5f5;
    display: inline-block;
    font-size: 300%;
    padding: 10px 0;
    text-align: center;
    border-bottom: solid 1px #ccc;
    border-top: solid 1px #ccc;
    text-transform: uppercase;
}

h5 {
    color: #ccc;
}

h6 {
    color: #2b90d9;
}

title {
    font-size: 300%;
}

#services {
    background-color: #56a7e1;

}

#testimonials {
    background-color: #f5f5f5;
}



footer.main-footer {
    padding: 60px 0;
    background: #222;
}
